/* home */
body.main main {
  position: relative;
  width: 100%;
  height: 1090px;
  margin-top: -90px;
  overflow: hidden;
}
.main_visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: kenburns 60s cubic-bezier(0.3, 0, 0.3, 1) infinite alternate;
}
.main_box {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding-top: 280px;
}
.main_title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1.2;
  color: var(--color_white);
}
.main_view_more {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-top: 80px;
  padding: 13px 40px;
  font-weight: 500;
  font-size: 18px;
  color: var(--color_white);
  border: 1px solid rgba(var(--color_white_rgb), 0.8);
  border-radius: 42px;
  background: rgba(var(--color_white_rgb), 0.14);
  backdrop-filter: blur(8px);
}

@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.2) translate(-5%, -5%);
  }
}

/* sub */
body.sub main {
  padding: 130px 0 180px 0;
}
.sub_title {
  width: 100%;
  max-width: var(--layout-content-width);
  margin: 0 auto;
  text-transform: uppercase;
}
.sub_title h2 {
  font-weight: 500;
  font-size: 72px;
}
.sub_title p {
  margin-top: 28px;
  font-size: 26px;
}
.sub_visual {
  width: 100%;
  max-width: var(--layout-content-width);
  height: 540px;
  margin: 100px auto 0 auto;
}
.sub_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.motion_sub_visual_wrap {
  min-height: 100vh;
  margin-top: -270px;
}
.motion_sub_visual {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.motion_sub_visual img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}
.motion_sub_title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  margin: 0 auto;
  color: var(--color_white);
  text-transform: uppercase;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}
.motion_sub_title h2,
.motion_sub_title p {
  opacity: 0;
  transform: translateY(40px);
}
.motion_sub_title h2 {
  font-weight: 500;
  font-size: 72px;
}
.motion_sub_title p {
  margin-top: 28px;
  font-size: 26px;
}
.sub_content {
  width: 100%;
  max-width: var(--layout-content-width);
  margin: 120px auto 0 auto;
}
.sub_content_summary {
  font-weight: 600;
  font-size: 26px;
  color: var(--color_point);
}
.sub_content_title {
  margin-top: 34px;
  font-size: 56px;
  line-height: 1.3;
}
.sub_content_title em {
  font-weight: 600;
}
.sub_content_addition {
  margin-top: 40px;
  font-size: 28px;
  line-height: 1.4;
}

/* about us */
.about_list_wrap {
  margin-top: 140px; 
}
.about_list {
  display: flex;
  gap: 120px;
}
.about_list:not(:first-child) {
  margin-top: 180px;
}
.about_list:nth-child(even) {
  gap: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about_list:last-child {
  gap: 100px;
  margin-left: -280px;
}
.about_list_img {
  display: inline-flex;
  position: relative;
  width: calc(100% - 100px);
}
.about_list:last-child .about_list_img::before {
  content: 'DEFINE';
  position: absolute;
  top: -270px;
  right: 114px;
  font-weight: 500;
  font-size: 200px;
  letter-spacing: 20px;
  color: rgba(var(--color_black_rgb), 0.03);
}
.about_list_text {
  padding-top: 100px;
  font-weight: 500;
}
.about_list_text strong {
  font-size: 46px;
}
.about_list_text p {
  margin-top: 30px;
  font-size: 22px;
  line-height: 1.6;
}
.about_list_text p span {
  font-weight: 600;
}
.about_list:last-child .about_list_text p {
  width: 550px;
}

/* professionals */
.professionals_list_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 40px;
  /* margin-top: 140px; */
}
.professionals_list {
  width: calc((100% - 80px)/3);
}
.professionals_list .list_name {
  margin-top: 50px;
  font-weight: 500;
  font-size: 26px;
}
.professionals_list .list_name span {
  font-weight: 600;
}
.professionals_list .list_cont {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
}
.professionals_list .list_cont + .list_cont {
  margin-top: 30px;
}
.professionals_list .list_cont dt {
  font-weight: 600;
}
.professionals_list .list_cont dd {
  margin-top: 14px;
  color: var(--color_sub_text);
}

.professionals_detail {
  gap: 100px;
  position: relative;
  /* margin-top: 140px; */
}
.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
}
.close_button::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  background-color: var(--color_point);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: ease-out 0.3s all;
}
.close_button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  background-color: var(--color_point);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: ease-out 0.3s all;
}
.close_button:hover::before, .close_button:focus::before {
  transform: translate(-50%, -50%) rotate(135deg);
}
.close_button:hover::after, .close_button:focus::after {
  transform: translate(-50%, -50%) rotate(225deg);
}
.detail_img {
  width: 590px;
}
.detail_cont {
  flex: 1;
}
.detail_cont .detail_name {
  margin-top: 50px;
  font-weight: 500;
  font-size: 32px;
}
.detail_cont .detail_name span {
  font-weight: 600;
}
.detail_cont .detail_info {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
}
.detail_cont .detail_info + .detail_info {
  margin-top: 30px;
}
.detail_cont .detail_info dt {
  font-weight: 600;
}
.detail_cont .detail_info dd {
  margin-top: 14px;
  color: var(--color_sub_text);
  white-space: pre-line;
  line-height: 1.6;
}

/* practices */
.practices_list_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 90px;
  margin-top: 120px;
}
.practices_list {
  width: 100%;
}
.practices_list:nth-of-type(odd) {
  margin-top: 0;
}
.practices_list:nth-of-type(even) {
  margin-top: 160px;
}
.practices_list_img {
  width: 605px;
}
.practices_cont {
  margin-top: 40px;
}
.practices_cont dt {
  font-weight: 600;
  font-size: 28px;
}
.practices_cont dd {
  margin-top: 18px;
  font-weight: 300;
  font-size: 18px; 
  line-height: 1.4;
  color: var(--color_sub_text);
  word-break: keep-all;
}

/* location */
.location_map {
  width: 100%;
  height: 600px;
}
.location_info_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 172px;
  margin-top: 140px;
  padding: 46px 40px;
  border-top: 1px solid var(--color_default);
}
.location_info {
  width: calc((100% - 172px)/2);
}
.location_info dt {
  font-weight: 600;
  font-size: 24px;
}
.location_info dd {
  margin-top: 14px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color_sub_text);
}

/* contact us */
.email_form {
  display: flex;
  flex-wrap: wrap;
  gap: 46px 50px;
  margin-top: 140px;
  padding: 60px 20px;
  border-top: 1px solid var(--color_default);
  border-bottom: 1px solid var(--color_border);
}
.email_form_sort {
  width: calc((100% - 50px) / 2);
}
.email_form_sort:last-of-type {
  width: 100%;
}
.email_form_sort label {
  display: block;
  font-size: 15px;
}
.email_form_sort select,
.email_form_sort input,
.email_form_sort textarea {
  width: 100%;
  margin-top: 16px;
}
.email_form_sort textarea {
  height: 306px;
}
.email_send {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px auto 0 auto;
  padding: 18px 47px;
  font-weight: 500;
  font-size: 18px;
  color: var(--color_white);
  border-radius: 42px;
  background: var(--color_default);
}



/* notebook, desktop */
@media (max-width: 1399px) {
  /* home */
  body.main main {
    height: calc(100vh - 13rem);
    margin-top: -4.375rem;
  }
  .main_box {
    padding: 12.5rem 0 0 1.25rem;
  }
  .main_title {
    font-size: 4.063rem;
  }
  .main_view_more {
    gap: 0.625rem;
    margin-top: 3.75rem;
    padding: 0.75rem 2.188rem;
    font-size: 1rem;
    border-radius: 2.625rem;
  }

  /* sub */
  body.sub main {
    padding: 6.25rem 0 9.375rem 0;
  }
  .sub_title {
    padding: 0 1.25rem;
  }
  .sub_title h2 {
    font-size: 4.063rem;
  }
  .sub_title p {
    margin-top: 1.563rem;
    font-size: 1.5rem;
  }
  .sub_visual {
    height: 31.25rem;
    margin: 5rem auto 0 auto;
    padding: 0 1.25rem;
  }
  .sub_content {
    margin: 6.25rem auto 0 auto;
    padding: 0 1.25rem;
  }
  .sub_content_summary {
    font-size: 1.5rem;
  }
  .sub_content_title {
    margin-top: 1.875rem;
    font-size: 3.125rem;
  }
  .sub_content_addition {
    margin-top: 2.188rem;
    font-size: 1.625rem;
  }

  /* about us */
  .about_list_wrap {
    margin-top: 7.5rem; 
  }
  .about_list {
    gap: 6.25rem;
  }
  .about_list:not(:first-child) {
    margin-top: 8.75rem;
  }
  .about_list:last-child {
    gap: 5rem;
    margin-left: -7.5rem;
  }
  .about_list_img {
    width: 47%;
  }
  .about_list:last-child .about_list_img::before {
    top: -14.375rem;
    right: -16.875rem;
    font-size: 11.25rem;
    letter-spacing: 1.125rem;
    z-index: -1;
  }
  .about_list_text {
    padding-top: 5rem;
  }
  .about_list_text strong {
    font-size: 2.75rem;
  }
  .about_list_text p {
    margin-top: 1.563rem;
    font-size: 1.25rem;
  }
  .about_list:last-child .about_list_text p {
    width: 100%;
  }

  /* professionals */
  .professionals_list_wrap {
    gap: 4.375rem 2.188rem;
  }
  .professionals_list {
    width: calc((100% - 4.375rem)/3);
  }
  .professionals_list .list_name {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }

  .professionals_detail {
    gap: 5rem;
    align-items: flex-start;
  }
  .close_button {
    width: 1.875rem;
    height: 1.875rem;
  }
  .close_button::before {
    width: 1.875rem;
  }
  .close_button::after {
    width: 1.875rem;
  }
  .detail_img {
    width: 45%;
  }
  .detail_cont .detail_name {
    margin-top: 1.875rem;
    font-size: 1.875rem;
  }
  .detail_cont .detail_info {
    margin-top: 2.188rem;
    font-size: 1.125rem;
  }
  .detail_cont .detail_info + .detail_info {
    margin-top: 1.563rem;
  }
  .detail_cont .detail_info dd {
    margin-top: 0.75rem;
  }

  /* practices */
  .practices_list_wrap {
    column-gap: 4.375rem;
    margin-top: 6.25rem;
  }
  .practices_list:nth-of-type(even) {
    margin-top: 8.75rem;
  }
  .practices_list_img {
    width: 100%;
  }
  .practices_cont {
    margin-top: 2.188rem;
  }
  .practices_cont dt {
    font-size: 1.625rem;
  }
  .practices_cont dd {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .practices_cont dd br {
    display: none;
  }

  /* location */
  .location_map {
    height: 28.125rem;
  }
  .location_info_wrap {
    gap: 1.563rem 6.25rem;
    margin-top: 7.5rem;
    padding: 2.5rem 2.188rem;
  }
  .location_info {
    width: calc((100% - 6.25rem)/2);
  }
  .location_info dt {
    font-size: 1.375rem;
  }
  .location_info dd {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.5;
    word-break: keep-all;
  }

  /* contact us */
  .email_form {
    gap: 2.5rem 2.813rem;
    margin-top: 7.5rem;
    padding: 3.125rem 1.125rem;
  }
  .email_form_sort {
    width: calc((100% - 2.813rem) / 2);
  }
  .email_form_sort label {
    font-size: 0.875rem;
  }
  .email_form_sort select,
  .email_form_sort input,
  .email_form_sort textarea {
    margin-top: 0.938rem;
  }
  .email_form_sort textarea {
    height: 18.75rem;
  }
  .email_send {
    gap: 0.625rem;
    margin: 3.125rem auto 0 auto;
    padding: 1rem 2.813rem;
    font-size: 1rem;
    border-radius: 2.625rem;
  }
}

/* tablet */
@media (max-width: 1024px) {
  /* home */
  body.main main {
    height: calc(100vh - 11.063rem);
    margin-top: -3.75rem;
  }
  .main_box {
    padding: 11.25rem 0 0 1.25rem;
  }
  .main_title {
    font-size: 3.438rem;
  }
  .main_view_more {
    gap: 0.5rem;
    margin-top: 3.125rem;
    padding: 0.75rem 1.875rem;
    font-size: 0.875rem;
  }

  /* sub */
  body.sub main {
    padding: 5rem 0 8.125rem 0;
  }
  .sub_title h2 {
    font-size: 3.75rem;
  }
  .sub_title p {
    margin-top: 1.438rem;
    font-size: 1.375rem;
  }
  .sub_visual {
    height: 28.125rem;
    margin: 3.75rem auto 0 auto;
  }
  .sub_content {
    margin: 5rem auto 0 auto;
  }
  .sub_content_summary {
    font-size: 1.375rem;
  }
  .sub_content_title {
    margin-top: 1.563rem;
    font-size: 2.813rem;
  }
  .sub_content_addition {
    margin-top: 1.875rem;
    font-size: 1.5rem;
  }

  /* about us */
  .about_list_wrap {
    margin-top: 6.25rem; 
  }
  .about_list {
    gap: 3.75rem;
  }
  .about_list_img {
    width: 38%;
  }
  .about_list:not(:first-child) {
    margin-top: 6.25rem;
  }
  .about_list:last-child {
    gap: 3.75rem;
    margin-left: -6.25rem;
  }
  .about_list:last-child .about_list_img::before {
    top: -9.375rem;
    right: -17.5rem;
    font-size: 8.75rem;
    letter-spacing: 1rem;
  }
  .about_list_text {
    padding-top: 3.75rem;
  }
  .about_list_text strong {
    font-size: 2.625rem;
  }
  .about_list_text p {
    margin-top: 1.25rem;
    font-size: 1.125rem;
  }

  /* professionals */
  .professionals_list_wrap {
    gap: 3.125rem 1.875rem;
  }
  .professionals_list {
    width: calc((100% - 3.75rem)/3);
  }
  .professionals_list .list_name {
    margin-top: 1.875rem;
    font-size: 1.375rem;
  }

  .professionals_detail {
    gap: 3.125rem;
  }
  .close_button {
    width: 1.563rem;
    height: 1.563rem;
  }
  .close_button::before {
    width: 1.563rem;
  }
  .close_button::after {
    width: 1.563rem;
  }
  .detail_cont .detail_name {
    margin-top: 1.563rem;
    font-size: 1.75rem;
  }
  .detail_cont .detail_info {
    margin-top: 1.875rem;
    font-size: 1rem;
  }
  .detail_cont .detail_info + .detail_info {
    margin-top: 1.25rem;
  }
  .detail_cont .detail_info dd {
    margin-top: 0.625rem;
  }

  /* practices */
  .practices_list_wrap {
    column-gap: 3.125rem;
    margin-top: 5rem;
  }
  .practices_list:nth-of-type(even) {
    margin-top: 7.5rem;
  }
  .practices_cont {
    margin-top: 1.875rem;
  }
  .practices_cont dt {
    font-size: 1.375rem;
  }
  .practices_cont dd {
    margin-top: 0.875rem;
    font-size: 0.875rem;
  }

  /* location */
  .location_map {
    height: 21.875rem;
  }
  .location_info_wrap {
    gap: 1.25rem 5rem;
    margin-top: 6.25rem;
    padding: 2.188rem 1.875rem;
  }
  .location_info {
    width: calc((100% - 5rem)/2);
  }
  .location_info dt {
    font-size: 1.25rem;
  }
  .location_info dd {
    margin-top: 0.625rem;
    font-size: 1rem;
  }

  /* contact us */
  .email_form {
    gap: 2.188rem 2.5rem;
    margin-top: 6.25rem;
    padding: 2.5rem 1rem;
  }
  .email_form_sort {
    width: calc((100% - 2.5rem) / 2);
  }
  .email_form_sort select,
  .email_form_sort input {
    height: 2.813rem;
  }
  .email_form_sort select,
  .email_form_sort input,
  .email_form_sort textarea {
    margin-top: 0.875rem;
    padding: 0.813rem 1.125rem;
  }
  .email_form_sort textarea {
    height: 15.625rem;
  }
  .email_send {
    gap: 0.5rem;
    margin: 2.5rem auto 0 auto;
    padding: 0.875rem 2.5rem;
    font-size: 0.875rem;
  }
}

/* mobile */
@media (max-width: 767px) {
  /* home */
  body.main main {
    height: calc(100vh - 13rem);
    margin-top: -4.375rem;
  }
  .main_box {
    padding: 12.5rem 0 0 1.25rem;
  }
  .main_title {
    font-size: 4.063rem;
  }
  .main_view_more {
    gap: 0.625rem;
    margin-top: 3.75rem;
    padding: 0.75rem 2.188rem;
    font-size: 1rem;
    border-radius: 2.625rem;
  }

  /* sub */
  body.sub main {
    padding: 6.25rem 0 9.375rem 0;
  }
  .sub_title {
    padding: 0 1.25rem;
  }
  .sub_title h2 {
    font-size: 4.063rem;
  }
  .sub_title p {
    margin-top: 1.563rem;
    font-size: 1.5rem;
  }
  .sub_visual {
    height: 31.25rem;
    margin: 5rem auto 0 auto;
    padding: 0 1.25rem;
  }
  .sub_content {
    margin: 6.25rem auto 0 auto;
    padding: 0 1.25rem;
  }
  .sub_content_summary {
    font-size: 1.5rem;
  }
  .sub_content_title {
    margin-top: 1.875rem;
    font-size: 3.125rem;
  }
  .sub_content_addition {
    margin-top: 2.188rem;
    font-size: 1.625rem;
  }

  /* about us */
  .about_list_wrap {
    margin-top: 7.5rem; 
  }
  .about_list {
    gap: 6.25rem;
  }
  .about_list:not(:first-child) {
    margin-top: 8.75rem;
  }
  .about_list:last-child {
    gap: 5rem;
    margin-left: -7.5rem;
  }
  .about_list_img {
    width: 47%;
  }
  .about_list:last-child .about_list_img::before {
    top: -14.375rem;
    right: -16.875rem;
    font-size: 11.25rem;
    letter-spacing: 1.125rem;
    z-index: -1;
  }
  .about_list_text {
    padding-top: 5rem;
  }
  .about_list_text strong {
    font-size: 2.75rem;
  }
  .about_list_text p {
    margin-top: 1.563rem;
    font-size: 1.25rem;
  }
  .about_list:last-child .about_list_text p {
    width: 100%;
  }

  /* professionals */
  .professionals_list_wrap {
    gap: 4.375rem 2.188rem;
  }
  .professionals_list {
    width: calc((100% - 4.375rem)/3);
  }
  .professionals_list .list_name {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }

  .professionals_detail {
    gap: 5rem;
    align-items: flex-start;
  }
  .close_button {
    width: 1.875rem;
    height: 1.875rem;
  }
  .close_button::before {
    width: 1.875rem;
  }
  .close_button::after {
    width: 1.875rem;
  }
  .detail_img {
    width: 45%;
  }
  .detail_cont .detail_name {
    margin-top: 1.875rem;
    font-size: 1.875rem;
  }
  .detail_cont .detail_info {
    margin-top: 2.188rem;
    font-size: 1.125rem;
  }
  .detail_cont .detail_info + .detail_info {
    margin-top: 1.563rem;
  }
  .detail_cont .detail_info dd {
    margin-top: 0.75rem;
  }

  /* practices */
  .practices_list_wrap {
    column-gap: 4.375rem;
    margin-top: 6.25rem;
  }
  .practices_list:nth-of-type(even) {
    margin-top: 8.75rem;
  }
  .practices_list_img {
    width: 100%;
  }
  .practices_cont {
    margin-top: 2.188rem;
  }
  .practices_cont dt {
    font-size: 1.625rem;
  }
  .practices_cont dd {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .practices_cont dd br {
    display: none;
  }

  /* location */
  .location_map {
    height: 28.125rem;
  }
  .location_info_wrap {
    gap: 1.563rem 6.25rem;
    margin-top: 7.5rem;
    padding: 2.5rem 2.188rem;
  }
  .location_info {
    width: calc((100% - 6.25rem)/2);
  }
  .location_info dt {
    font-size: 1.375rem;
  }
  .location_info dd {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.5;
    word-break: keep-all;
  }

  /* contact us */
  .email_form {
    gap: 2.5rem 2.813rem;
    margin-top: 7.5rem;
    padding: 3.125rem 1.125rem;
  }
  .email_form_sort {
    width: calc((100% - 2.813rem) / 2);
  }
  .email_form_sort label {
    font-size: 0.875rem;
  }
  .email_form_sort select,
  .email_form_sort input,
  .email_form_sort textarea {
    margin-top: 0.938rem;
  }
  .email_form_sort textarea {
    height: 18.75rem;
  }
  .email_send {
    gap: 0.625rem;
    margin: 3.125rem auto 0 auto;
    padding: 1rem 2.813rem;
    font-size: 1rem;
    border-radius: 2.625rem;
  }
}

/* tablet */
@media (max-width: 1024px) {
  /* home */
  body.main main {
  }
  .main_box {
  }
  .main_title {
  }
  .main_view_more {
  }

  /* sub */
  body.sub main {
  }
  .sub_title h2 {
  }
  .sub_title p {
  }
  .sub_visual {
  }
  .sub_content {
  }
  .sub_content_summary {
  }
  .sub_content_title {
  }
  .sub_content_addition {
  }

  /* about us */
  .about_list_wrap {
  }
  .about_list {
  }
  .about_list_img {
  }
  .about_list:not(:first-child) {
  }
  .about_list:last-child {
  }
  .about_list:last-child .about_list_img::before {
  }
  .about_list_text {
  }
  .about_list_text strong {
  }
  .about_list_text p {
  }

  /* professionals */
  .professionals_list_wrap {
  }
  .professionals_list {
  }
  .professionals_list .list_name {
  }

  .professionals_detail {
  }
  .close_button {
  }
  .close_button::before {
  }
  .close_button::after {
  }
  .detail_cont .detail_name {
  }
  .detail_cont .detail_info {
  }
  .detail_cont .detail_info + .detail_info {
  }
  .detail_cont .detail_info dd {
  }

  /* practices */
  .practices_list_wrap {
  }
  .practices_list:nth-of-type(even) {
  }
  .practices_cont {
  }
  .practices_cont dt {
  }
  .practices_cont dd {
  }

  /* location */
  .location_map {
  }
  .location_info_wrap {
  }
  .location_info {
  }
  .location_info dt {
  }
  .location_info dd {
  }

  /* contact us */
  .email_form {
  }
  .email_form_sort {
  }
  .email_form_sort select,
  .email_form_sort input {
  }
  .email_form_sort select,
  .email_form_sort input,
  .email_form_sort textarea {
  }
  .email_form_sort textarea {
  }
  .email_send {
  }
}