/* home */
.main main {
  position: relative;
  height: 1090px;
  margin-top: -90px;
  background: url(../images/cotent/visual_main.jpg) center no-repeat;
  background-size: cover;
}
.main_box {
  width: 1400px;
  margin: 190px auto 0 auto;
}
.main_title {
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
  color: var(--color_white);
}
.main_view_more {
  display: inline-block;
  margin-top: 80px;
  padding: 13px 40px;
  font-weight: 500;
  font-size: 18px;
  color: var(--color_white);
  border: 1px solid rgba(var(--color_white_rgb), 0.8);
  border-radius: 42px;
  background: rgba(var(--color_white_rgb), 0.14);
  backdrop-filter: blur(8px);
  cursor: pointer;
}
.main_view_more .icon_arrow {
  margin-left: 10px;
}

/* sub */
main {
  padding: 140px 0 180px 0;
}
.sub_title {
  width: 1300px;
  margin: 0 auto;
  text-transform: uppercase;
}
.sub_title h2 {
  font-weight: 500;
  font-size: 72px;
}
.sub_title p {
  margin-top: 28px;
  font-size: 26px;
}
.sub_visual {
  width: 100%;
  height: 400px;
  margin-top: 90px;
}
.sub_content {
  width: 1300px;
  margin: 120px auto 0 auto;
}
.sub_content_summary {
  font-weight: 600;
  font-size: 26px;
  color: var(--color_point);
}
.sub_content_title {
  margin-top: 34px;
  font-size: 56px;
  line-height: 1.3;
}
.sub_content_title em {
  font-weight: 600;
}
.sub_visual {
  background: url(../images/cotent/visual_about.jpg) center no-repeat;
  background-size: cover;
}

/* about us */
/* .about .sub_visual {
  background: url(../images/cotent/visual_about.jpg) center no-repeat;
  background-size: cover;
} */
.about_list_wrap {
  margin-top: 140px; 
}
.about_list {
  display: flex;
  gap: 120px;
}
.about_list:not(:first-child) {
  margin-top: 180px;
}
.about_list:nth-child(even) {
  gap: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.about_list:last-child {
  margin-left: -310px;
}
.about_list:last-child .about_list_img {
  position: relative;
}
.about_list:last-child .about_list_img::before {
  content: 'DEFINE';
  position: absolute;
  top: -300px;
  right: 114px;
  font-weight: 500;
  font-size: 240px;
  letter-spacing: 0.1;
  color: rgba(var(--color_black_rgb), 0.03);
}
.about_list_text {
  padding-top: 100px;
  font-weight: 500;
}
.about_list_text strong {
  font-size: 46px;
  line-height: 58px;
}
.about_list_text p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 28px;
  white-space: pre-line;
}

/* about us */
.professionals_list_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 180px 140px;
  margin-top: 140px;
}
.professionals_list {
  flex: 0 0 calc(50% - 70px);
}
.professionals_list .list_img {
  display: flex;
  width: 100%;
}
.professionals_list .list_name {
  margin-top: 50px;
  font-weight: 500;
  font-size: 32px;
}
.professionals_list .list_name span {
  font-weight: 600;
}
.professionals_list .list_cont {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
}
.professionals_list .list_cont + .list_cont {
  margin-top: 30px;
}
.professionals_list .list_cont dt {
  font-weight: 600;
}
.professionals_list .list_cont dd {
  margin-top: 14px;
  color: var(--color_sub_text)};